extends layout

block content
  h1= title
  .ui.green.button#create
    |   Create Post
  br
  br
  .ui.blue.button#read
    |   Read Post
  br
  br
  .ui.orange.button#update
    |   Update Post
  br
  br
  .ui.red.button#destroy
    |   Destroy Post
  br
  br
  br
  .ui.green.button#create-comment
    |   Create Comment
  br
  br
  .ui.blue.button#read-comment
    |   Read Comment
  br
  br
  .ui.orange.button#update-comment
    |   Update Comment
  br
  br
  .ui.red.button#destroy-comment
    |   Destroy Comment
  br
  br
  br
  .ui.black.button#search
    |   Execute Search
  br
  br
  br
  .ui.purple.button#error
    |   404 Errors
