extends layout


block content
    script(src='/javascripts/main.js')
    .sidenav#mySidebar
        img(src='assets/mango.png' id= 'user-img')
        a(href='#' id = "saved") Saved Recipes
        a(href='' id="logout") Logout

    button.menu-toggle#menu(onclick='w3_open()') &#x2630;
    .main
      img(src='assets/MangoDB.png')
      p.content Find recipes from ingredients you already have in your fridge!
      .search-container
          .search
              input(type='text' placeholder='Search...   (ie. chocolate, 2 cups flour) ' name='search')#ingredientSearch
              button.ui.button#search-submit Submit
      .search-result-container#result-container
    script.
      function w3_open() {
          var menu = document.getElementById("menu")
          if (document.getElementById("mySidebar").style.display === "block") {
              document.getElementById("mySidebar").style.display = "none";
              menu.style.background = "white";
              menu.style.color = "#FFA07A";
          }
          else {
              document.getElementById("mySidebar").style.display = "block";
              menu.style.color = "white";
              menu.style.background = "#FFA07A";
          }

      }